p{
    background-color: gray;
}

.modalBackground{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.modalShowing-true{
    opacity: 1;
    pointer-events: showing;
}