.home-page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8em;
    background: url("../img/pattern.png");
    background-attachment: fixed;
}

.user-card{
    display: flex;
    width: 42%;
    margin-top: 30px;
    margin-right: 4em;
    margin-bottom: 2em;
    background-color: white;
    border-radius: 20px;
}

.user-card img{
    width: 180px;
    border-radius: 10px 0px 0px 10px;
}

.user-card button{
    width: 120px;
    height: 38px;
    border-style: none;
    font-size: 20px;
    background-color: white;
    color: gray;
    align-self: flex-end;
    margin-right: 20px;
    border-radius: 10px;
}

.user-card button:hover{
    background-color: #3c9699;
    color: white;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.user-info p {
    margin-left: 20px;
    font-size: 21px;
}

@media (max-width: 700px) {
    .user-card{
        width: 95%;
        margin-right: 0px;
    }

    .user-info p{
        font-size: 18px;
    }
}
