.home-page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user-card{
    display: flex;
    width: 32%;
    margin-top: 25px;
}

.user-card img{
    width: 180px;
}

.user-card button{
    width: 120px;
    height: 38px;
    border: none;
    background-color: #3c9699;
    font-size: 15px;
    color: white;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info p {
    margin-left: 20px;
    font-size: 21px;
}
