.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    border-radius: 38px;
    background: #e9ebee;
    width: 25em;
    height: 25em;
}

.login-form h1{
    font-size: 2.1rem;
    margin-bottom: 1em;
}

.login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-login form input{
    margin-bottom: 1em;
    width: 16em;
    height: 2.3em;
    border: none;
    background-color: #e9ebee;
    border-bottom: 1px solid #3c9699;
}

.login-form form button{
    margin-top: 30px;
}

.google-button{
    border: none;
    background-color: #d93025;
    border-radius: 10px;
    width: 15em;
    height: 2.3em;
    color: white;
    margin-bottom: 2em;
    font-size: 18px;
}

.register-button{
    border: none;
    background-color: #3c9699;
    border-radius: 10px;
    width: 15em;
    height: 2.3em;
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
}

.register-link{
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 500px) {

    .login-form h1{
        font-size: 1.8rem;
    }

    .container-login form input{
        width: 15em;
        height: 2.2em;
    }

    .login-form{
        width: 20em;
    }

    .google-button{
        width: 13em;
    }
    
    .register-button{
        width: 13em;
    }

    .register-link{
        font-size: 16px;
    }
}

@media (max-width: 350px) {

    .login-form h1{
        font-size: 1.6rem;
    }

    .container-login form input{
        width: 12em;
        height: 2em;
    }

    .login-form{
        width: 17em;
    }

    .google-button{
        width: 11em;
    }
    
    .register-button{
        width: 11em;
    }

    .register-link{
        font-size: 14px;
    }
}


