.container-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
    background-image: url('../img/fondo.jpg');
    background-size: cover;

}

.container-register form{
    display: flex;
    flex-direction: column;
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    border-radius: 38px;
    background: #e9ebee;
    width: 25em;
    height: 25em;
}

.register-form h1{
    font-size: 2.1rem;
    margin-bottom: 1em;
}

.container-register form input{
    margin-bottom: 1em;
    width: 16em;
    height: 2.3em;
    border: none;
    background-color: #e9ebee;
    border-bottom: 1px solid #3c9699;
}

.container-register form button{
    margin-top: 2em;
}

@media (max-width: 500px) {

    .register-form h1{
        font-size: 1.8rem;
    }

    .container-register form input{
        width: 15em;
        height: 2.2em;
    }

    .register-form{
        width: 20em;
    }
}

@media (max-width: 350px) {

    .register-form h1{
        font-size: 1.6rem;
    }

    .container-register form input{
        width: 12em;
        height: 2em;
    }

    .register-form{
        width: 17em;
    }
}