.container-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
    background-color: bisque;

}

.container-register form{
    display: flex;
    flex-direction: column;
}

.container-register form input{
    margin-bottom: 10px;
}